* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  box-sizing: border-box; }

.active {
  color: yellow; }

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #c4c4cc; }

.head,
.foot {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; }

.foot {
  background: #fff; }

.inp {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 20px;
  position: relative; }
  .inp input {
    width: 100%;
    height: 60%;
    border: 1px solid #ccc;
    padding-left: 30px; }
  .inp span {
    position: absolute;
    top: 15px;
    left: 10px; }

.cont {
  width: 100%;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 10px; }

.list-box {
  width: 100%;
  overflow-x: auto; }

.list {
  width: 100%;
  height: 30px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  padding: 0 18px;
  align-items: center; }
  .list li {
    width: 18%;
    flex-shrink: 0; }

h4 {
  padding: 20px;
  font-size: 20px;
  font-weight: normal; }

.banner {
  width: 100%; }
  .banner img {
    width: 100%; }

.pro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px; }
  .pro li {
    width: 28%;
    margin: 0 5px;
    flex-shrink: 0; }
    .pro li .img {
      width: 100%; }
      .pro li .img img {
        width: 100%; }
    .pro li .font {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 10px; }
